#movie-result {
  background: rgb(255, 205, 233);
  border: 5px solid rgb(69, 6, 49);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#season-result {
  background: rgb(209, 255, 250);
  border: 5px solid rgb(30, 71, 73);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}

img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}